# OS files
.DS_Store
Thumbs.db

# VM artifacts
*.vdi
*.vmdk
*.ova

# Logs
*.log

# Editor
.vscode
.idea

# Temp files
*.tmp

# Python
__pycache__/
*.pyc

# Secrets
.env
.env.*
*.pem
*.key
credentials*
secrets/

/local/
/raw-images/
